
<div class="card" class="form-group">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <h5 class="card-title">Filtro</h5>
    </div>
    <div class="card-body">
      <p>
        <input class="card-text" type="radio" value="cep" formControlName="searchkind" checked> Código Postal<br />
        <input class="card-text" type="radio" value="bairro" formControlName="searchkind"> Bairro<br />
        <input class="card-text" type="radio" value="cidade" formControlName="searchkind"> Cidade<br />
        <input class="card-text" type="radio" value="localidade" formControlName="searchkind"> Localidade<br />
      </p>
      <input type='text' id='cep' formControlName="filter" ngModel placeholder='chave de busca'>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" title='"Procurar' type='submit'>Procurar</button>
    </div>
  </form>
</div>

<div class="clearfix">&nbsp;</div>

<div class="card" *ngIf='CepResults.length > 0'>
  <div class="card-header">
    <h5 class="card-title">Resultado da Busca</h5>
  </div>
  <div class="card-body">
    <table border='0' width='100%' style='border-spacing: 10px;  border-collapse: separate;'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Cep</th>
          <th>Bairro</th>
          <th>Cidade / UF</th>
          <th>Localidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let CepItem of CepResults'>
          <td>{{ CepItem.ID }}</td>
          <td>{{ CepItem.cep }}</td>
          <td>{{ CepItem.bairro }}</td>
          <td>{{ CepItem.cidadeUf }}</td>
          <td>{{ CepItem.localidade }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
